.tabs {
  display: flex;
  font-weight: 600;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs li {
  position: relative;
  margin-right: 60px;
  padding: 10px;
  cursor: pointer;
  /* border: 1px solid #ccc; */
}

.tabs li.active {
  color :  #AF064D;
  /* border-bottom: 2px solid #AF064D; */

}
.bb-active{
  position: absolute;
  text-align: center;
  border-bottom: 2px solid #AF064D;
  color: transparent;
  top: 48%;
  
}

.one{
  left: 24%;
}
.two{
  left: 17%;
}
.three{
  left: 13%;
}
.four{
  left: 16%;
}

.logo{
  padding-left : 40px !important
}

.minheight{
  padding-bottom: 1px !important;
}

.color-gray{
  color: #A5A5A5  ;
}

.font-12{
  font-size: 12px !important;
}
.font-14{
  font-size: 14px !important;
}

.font-16{
  font-size: 16px !important;
}
.font-18{
  font-size: 18px !important;
}
.font-20{
  font-size: 20px !important;
}
.font-22{
  font-size: 22px !important;
}
.font-40{
  font-size: 40px !important;
}
.space{
  margin-left: 30px;
}
.hw-107{
  height: 72px;
  width: 72px;
}
.buttonb{
  background: #F5F5F5;
border: 1px dashed #A5A5A5;
border-radius: 10px;
cursor: pointer;
}

.fw-600{
  font-weight: 600;
}
.fw-500{
  font-weight: 500;
}
.fw-400{
  font-weight: 400;
}

.pink{
  color: #AF064D;
}

.p-22{
  padding: 2.2rem !important;
}
.mb-05{
  margin-bottom: 0.5rem !important;
}

.plus{
  margin-top: -3px;
}

.white path {
  stroke: #fff;  
}

.bg-pink{
  background-color: #AF064D;
}

.h-100{
  height: 100% !important;
}

.br{
  border-radius: 0.37rem !important;
}
.upcoming{
  background: #2F80ED;
border-radius: 2px;
cursor: pointer;
color: white;
}

.profile-icon{
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
}

.m5{
  margin: 3rem;
}
.pointer{
  cursor: pointer;
}
.form-control:focus{
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}  

.labelFile {
  cursor: pointer;
  right: 5px;
  top: 5px;
  background-color: #fff;
  border-radius: 50%;
  width: 44px;
  height: 34px;
  line-height: 1;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  padding: 7px 13px;
}
.flx{
  display: flex !important;
    align-items: center ;
}

.card{
  height: 100% !important;
}

.h-45{
  height: 45px ;
}

.des{
  height: 100% !important;
    display: flex !important;
    justify-content: center;
}
@media screen and (min-width: 768px) {
  .tabs {
    padding-left : 40px
  }
.lgml{
  margin-left: 20px;
}
  
}
@media screen and (max-width: 768px) {
  .tc {
    text-align: center;
  }
  .mview{
    display: flex;
    justify-content: center;
  }
  .rw-83{
    width: 83% !important;
  }
  .res-mt{
    margin-top: 20px !important;
  }
  .resDF{
    display: flex;
    justify-content: space-around;
  }
  td {
    padding: 5px 30px !important;
  }
  .x-scroll{
    overflow-x: scroll;
  }
  .tabs li {
    margin-right: 30px;
    
  }

  
}

.h-66{
  height : 66vh !important
}

td {
  padding: 5px 30px;
}

@media screen and (max-width: 300px) {
  .space{
    margin-left: 0px;
  }
  .font-14{
    font-size: 12px !important;
  }
  .font-16{
    font-size: 14px !important;
  }
  .font-18{
    font-size: 16px !important;
  }
  .font-20{
    font-size: 16px !important;
  }
  .font-22{
    font-size: 18px !important;
  }
  .font-40{
    font-size: 25px !important;
  }
  .m5{
    margin: 1rem !important;
  }
  .tabs li {
    margin-right: 20px;
    
  }
}